body {
    margin: 0;  
    background-color: rgb(240,240,240);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.header, .main {
        height: 500px;
}

li {
    list-style: none;
}

.legal p {
    margin-top: 0px;
    color:#333;
    font-size: 90%;
}

.content {
    width: 1200px;
    margin: 0 auto;
    
}

.footer {
    padding:35px;
    border-top: 1px solid #dedede;    
    font-family:"Helvetica neue",Helvetica,Arial,Sans-serif;
    background-color: white;
    font-size: 12px;
    color: #777;  
}

.footer .column {
    width: 20%;
    float: left;
}

.legal {
    margin-top: 75px;
}

.column-container:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.footer h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px; 
}

.footer li {
    padding: 5px 15px 5px 0;
}

.legal a {
    color: #777;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}